body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size:20px;
    line-height:1.5em;
    margin: 60px auto;
    width: 85%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #15A091;
}
a:hover {
    text-decoration: none;
    color: #FAB210;
}
content {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}
pub-authors {
    font-family:'Helvetica Italic', 'Arial Italic', 'Sans-Serif Italic';
    font-style: italic;
    font-size: 90%;
    line-height:1.2em;
}    
pub-title {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    font-size: 90%;
    line-height:1.2em;
}    
pub-normal {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 90%;
    line-height:1.2em;
}    
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}
h1 {
    font-size:50px;
}
h2 {
    font-size:40px;
}
h3 {
    font-size:35px;
}
footer {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    border-top: 1px solid #d5d5d5;
    font-size:x-small;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
table {
    border-collapse: collapse;
    border: 1px solid #d5d5d5;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}
#banner-slide {
    margin: 0 auto
}
#sidebar {
    width: 160px;
    max-width: 25%;
    float:right;
    height:100%;
    display:block;
}
#main-body {
    display:block;
    border:1px solid red;
    margin-right: 170px;
}
