---
layout: default
title: VCC Imaging Group -- People
---

<h1>People</h1>
<h3>Computational Imaging Group</h3>

<h5>Group Leader and Principal Investigator</h5>
<ul>
  {% for person in site.data.people %}{% if forloop.first %}
  {% include formatperson.html person=person %}{% break %}
  {% endif %}{% endfor %}
</ul>

<h5>Active Members</h5>
<ul>
  {% for person in site.data.people %}{% unless forloop.first or person.end %}
  {% include formatperson.html person=person %}
  {% endunless %}{% endfor %}
</ul>


<h5>Alumni</h5>
<ul>
  {% for person in site.data.people %}{% if person.end %}
  {% include formatperson.html person=person %}
  {% endif %}{% endfor %}
</ul>
  
