---
layout: default
title: VCC Imaging Group
---

<h1>People</h1>
<h3>Computational Imaging Group @ KAUST VCC</h3>

{% capture leader %}{{site.data.people | first}}{% endcapture %}
{% capture team %}{{site.data.people | removefirst leader}}{% endcapture %}

<h5>Group Leader and Principal Investigator</h5>
<ul>
  <li>{{ leader }}</li>
  <li>{{ team }}</li>
  {% include formatperson.html person=leader %}
</ul>

<h5>Active Members</h5>
<ul>
  {% for person in site.data.people %}{% unless person.end %}
  {% include formatperson.html person=person %}
  {% endunless %}{% endfor %}
</ul>


<h5>Alumni</h5>
<ul>
  {% for person in site.data.people %}{% if person.end %}
  {% include formatperson.html person=person %}
  {% endif %}{% endfor %}
</ul>
  
