---
layout: default
title: VCC Imaging Group
---

<table style="width:100%">
  <thead>
    <tr>
      <th style="width:110px">2016</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for pub in site.data.publications %}
    <tr>
      <td style="vertical-align:middle;text-align:center;"> <img src="{{pub.image}}" width=100 height=100>
      <td style="vertical-align:top;text-align:left;">
        <pub-authors> {{ pub.authors }}: </pub-authors><br>
        <pub-title>
        {% if pub.pdf == true %}
          <a href="{{ pub.pdf }}">{{ pub.title }}</a>
        {% else %}
          {{ pub.title }}
        {% endif %}
        </pub-title><br>
        <pub-normal> {{ pub.venue }}, {{ pub.year }} </pub-normal><br>
        <pub-normal> {{ pub.pdf }} </pub-normal><br>
      </td>
    </tr>
{% endfor %}    
  </tbody>
</table>

