---
layout: default
title: Computational Imaging Group -- Publications
---

<h1>Publications</h1>
<h3>Computational Imaging Group</h3>

{% assign years = (2014..2019) | reverse %}

<div style="text-align:center;">
<div style="display:inline-block;text-align:left;width:85%">
<h4>Years:</h4>
<nav>
  <ul>
    {% for year in years %}
    <li><a href=#{{year}}>{{year}}</a></li>
    {% endfor %}
    <li><a href="/People/heidriw/publications.html">Earlier</a>
  </ul>
</nav>
</div>
</div>

<br>
<br>

{% for year in years %}
{% include publicationlist.html minYear=year maxYear=year %}
<br><br>
{% endfor %}

