---
layout: experimental
title: Computational Imaging Group
---

<div style="background-color:blue;width:150px;max-width:25%;margin-bottom:-10000px;padding-bottom:10000px;min-height:100%;float:right;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quamquam te quidem video minime esse deterritum. Ut optime, secundum naturam affectum esse possit. Poterat autem inpune; Itaque eos id agere, ut a se dolores, morbos, debilitates repellant. Duo Reges: constructio interrete. Venit enim mihi Platonis in mentem, quem accepimus primum hic disputare solitum;

Quae diligentissime contra Aristonem dicuntur a Chryippo. Haec quo modo conveniant, non sane intellego. Sapientem locupletat ipsa natura, cuius divitias Epicurus parabiles esse docuit. Nunc haec primum fortasse audientis servire debemus. Cum audissem Antiochum, Brute, ut solebam, cum M. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Sit hoc ultimum bonorum, quod nunc a me defenditur; Eam tum adesse, cum dolor omnis absit;

Expressa vero in iis aetatibus, quae iam confirmatae sunt. Ut non sine causa ex iis memoriae ducta sit disciplina. Aperiendum est igitur, quid sit voluptas; In qua si nihil est praeter rationem, sit in una virtute finis bonorum; Quod autem ratione actum est, id officium appellamus. Est autem etiam actio quaedam corporis, quae motus et status naturae congruentis tenet; Cur igitur easdem res, inquam, Peripateticis dicentibus verbum nullum est, quod non intellegatur?

Septem autem illi non suo, sed populorum suffragio omnium nominati sunt. Quae est igitur causa istarum angustiarum? Sed haec quidem liberius ab eo dicuntur et saepius. Quid ergo aliud intellegetur nisi uti ne quae pars naturae neglegatur? Primum divisit ineleganter; Superiores tres erant, quae esse possent, quarum est una sola defensa, eaque vehementer. Quid de Platone aut de Democrito loquar? Itaque his sapiens semper vacabit. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Si est nihil nisi corpus, summa erunt illa: valitudo, vacuitas doloris, pulchritudo, cetera. Est enim tanti philosophi tamque nobilis audacter sua decreta defendere.

Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii. Neutrum vero, inquit ille. Vos autem cum perspicuis dubia debeatis illustrare, dubiis perspicua conamini tollere. Aliter enim explicari, quod quaeritur, non potest. Que Manilium, ab iisque M. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Quamquam id quidem, infinitum est in hac urbe;
</div>


<h1> Some test code</h1>

<h4>Group Leader and Principal Investigator</h4>
{% assign pi= site.data.people | where: "id","heidriw" %}
{% include peoplelist.html people=pi active=true %}


<h4>Active Members</h4>
{% assign members= site.data.people | shift | sort: 'name' %}
{% include peoplelist.html people=members active=true %}

<h4>Alumni</h4>
{% include peoplelist.html people=members active=false %}

{% assign pdfs= site.static_files | where: "extname",".pdf" | map: 'path' %}
{% assign published= site.static_files | where: "name","published" | map: 'path' %}
{% assign thumbnails= site.static_files | where: "name","thumb.jpg" | map: 'path' %}
<ul>
  <li>PDFs: {{ pdfs | join ',' }}
  <li>Published: {{ published | join ',' }}
  <li>Thumbnails: {{ thumbnails | join ',' }}
</ul>   

  {% if thumbnails contains "/Publications/Gregson2014FCS/thumb.jpg" %}<h2>Success!</h2>{% endif %}

<ul>
{% for file in site.static_files %}
  <li>{{file.path}}</li>
{% endfor %}
</ul>


