---
layout: experimental
title: Computational Imaging Group
---

<h1> Some test code</h1>

<div style="text-align:center;">
  <!--  Outer wrapper for presentation only, this can be anything you like -->
  <div id="banner-slide" style="display:inline-block;">
    <!-- start Basic Jquery Slider -->
    <ul class="bjqs">
      <li><img src="/Images/kaust.png" title="KAUST logo"></li>
      <li><img src="/Images/background-AlHaytham.jpg" title="AlHaytham camera obscura"></li>
      <li><img src="/People/heidriw/heidrich.jpg" title="mugshot"></li>
    </ul>
    <!-- end Basic jQuery Slider -->
  </div>
  <!-- End outer wrapper -->

  <!-- attach the plug-in to the slider parent element and adjust the settings as required -->
  <script>
    jQuery(document).ready(function($) {
    $('#banner-slide').bjqs({ 
    animtype      : 'slide',
    animspeed     : 10000,
    nexttext      : "&#9654;",
    prevtext      : "&#9664;",
    height        : 320,
    width         : 620,
    responsive    : true,
    randomstart   : true
    });
  });
  </script>
</div>

<ul>
{% for file in site.static_files %}
  <li>{{file.path}}</li>
{% endfor %}
</ul>

{% include publicationlist.html minYear=2014 %}

<!--
<ul>
{% for year in (1996..2017) | reverse %}
<li>{{ year }}</li>
{% endfor %}
</ul>
-->

  <!--
<ul>
{% for pub in site.data.publications %}
<li> {{ pub }}</li>
{% endfor %}
</ul>
-->

