---
layout: default
title: Computational Imaging Group
---

<h1> Some test code</h1>

<ul>
{% for file in site.static_files %}
  <li>{{file.path}}</li>
{% endfor %}
</ul>

{% assign name1= "/Images/kaust.png" %}
A: {% if site.static_files contains name1 %} Good News! {% endif %}

{% assign name2= "main" %}
B: {% if site.static_files contains name2 %} Meh... {% endif %}

{% include publicationlist.html minYear=2014 %}

<!--
<ul>
{% for year in (1996..2017) | reverse %}
<li>{{ year }}</li>
{% endfor %}
</ul>
-->

  <!--
<ul>
{% for pub in site.data.publications %}
<li> {{ pub }}</li>
{% endfor %}
</ul>
-->

