<!-- format an entry for a single lab member -->

{% capture pubflag %}/People/{{include.person.id}}/published{% endcapture %}

{% for file in site.static_files %}
{% if file.path == pubflag %}
<li>{{weburl}}</li>
  {% capture weburl %}People/{{include.person.id}}/{% endcapture %}
  {% break %}
{% endif %}
{% endfor %}

<li>{{webpage}}</li>

<li>{% if weburl %}<a href="{{weburl}}">{% endif %}{{ include.person.title }} {{ include.person.name }}{% if weburl %}</a>{% endif %},
  {{ include.person.position }},
  {% if include.person.end %}
  {{ include.person.start }} - {{ include.person.end }}; now at {{ include.person.nowat }}.
  {% else %}
  since {{ include.person.start }}.
  {% endif %}
  </li>
