<!-- publication list module  -->

{% if include.minYear==include.maxYear %}
  {% assign yearText = include.minYear %}
{% else %}
  {% capture yearText %}{{include.minYear}}-{{include.maxYear}}{% endcapture %}
{% endif %}

<table style="border:1px solid #d5d5d5;" id="{{yearText}}">
  <thead>
    <tr>
      <th style="width:110px;">{{yearText}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for pub in site.data.publications %}
{% if pub.title and pub.authors and pub.venue and pub.year %}
{% if include.name== null or pub.authors contains include.name %}
{% if include.minYear== null or pub.year >= include.minYear %}
{% if include.maxYear== null or include.maxYear >= pub.year %}
{% capture pdfpath %}/Publications/{{pub.id}}/{{pub.id}}.pdf{% endcapture %}
{% capture thumbpath %}/Publications/{{pub.id}}/thumb.jpg{% endcapture %}
    {% assign pdfurl = pub.pdf %}
    {% assign thumburl = pub.thumbnail %}
    {% for file in site.static_files %}
    {% if file.path == pdfpath %}{% assign pdfurl = pdfpath %}{% endif %}
    {% if file.path == thumbpath %}{% assign thumburl = thumbpath %}{% endif %}
    {% endfor %}
    <tr>
      <td style="vertical-align:middle;text-align:center;"> <img src="{{thumburl}}" width=100 height=100>
      <td style="vertical-align:top;text-align:left;line-height:1;">
        <pub-authors> {{ pub.authors | join: ', ' }}: </pub-authors><br>
        {% if pdfurl %}
          <pub-title> <a href="{{ pdfurl }}">{{ pub.title }}</a></pub-title><br>
        {% else %}
          <pub-title>{{ pub.title }}</pub-title><br>
        {% endif %}        
        <pub-normal> {{ pub.venue }}, {{ pub.year }} </pub-normal><br>
        {% if pub.project %}
          <pub-normal><a href="{{ pub.project }}">Project page</a></pub-normal><br>
        {% endif %}
        {% if pub.note %}
          <pub-normal> ({{ pub.note }}) </pub-normal>
        {% endif %}
      </td>
    </tr>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}    
  </tbody>
</table>
