---
layout: default
title: Qilin Sun -- Home Page
image: sunq.png
width: 150
height: 150
---

<h1>Qilin Sun<h1>
<h4>EE PhD Student, KAUST Visual Computing Center</h4>

<span style="font-size:75%;">King Abdullah University of Science and Technology, Bldg. 1, 2204-WS06, Thuwal, 23955-6900, Saudi Arabia.<br> qilin.sun@kaust.edu.sa</span><p>

<b>Degrees History:</b> <em>
</ul>
</li>M. Sc. to PhD  Electrical Engineering , KAUST (2015-present)</li>
</li>B. Sci., Optical Information Science and Technology, Huazhong University of Science&Technology(2015)</li>
</em><p>

<b>Awards:</b> <em>
</ul>
</li>The Asia-Pacific Robot Contest, 1st Award(2015)</li>
</li>National Undergraduate Electric&Electronic Contest, 2nd Award(2013)</li>
</em><p>

<b>Research Interests:</b>End2end designing, Deep Learning, Depth and Transient Imaging, and Optimization.<p>

<b>Additional details:</b> <a href=bio>Bio</a>

<b>Recent Publications:</b> <p>
{% include publicationlist.html name="Q. Sun*" minYear=2016 %}
{% include publicationlist.html name="Q. Sun" minYear=2016 %}