<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li style="float:right"><a href=http://www.kaust.edu.sa>KAUST</a></li>
			<li style="float:right"><a href=http://vcc.kaust.edu.sa>VCC</a></li>
    		</ul>
		</nav>

		<content>
		{{ content }}
		</content>
			
		<footer>
    		<ul>
        VCC Imaging Group @ KAUST
			</ul>
		</footer>
	</body>
</html>
