<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- bjqs.css slider styles -->
		<link rel="stylesheet" type="text/css" href="/css/bjqs.css">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- load jQuery and the plugin -->
		<script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="/js/bjqs-1.3.min.js"></script>

	</head>
	<body style="background-image:url(/Images/background-AlHaytham.jpg);background-position:bottom;background-repeat:no-repeat;background-size:contain;background-attachment:fixed;">
		{% if page.image %}
		<img align=right src="{{page.image}}" width={{page.width}} height={{page.height}}>
		{% else %}
		<img align=right src="/Images/kaust.png" width=150 height=150>
		{% endif %}
		
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="/people.html">People</a></li>
			<li><a href="/publications.html">Publications</a></li>
			<li><a href="/joinus.html">Join Us</a></li>
			<li style="float:right"><a href=http://www.kaust.edu.sa>KAUST</a></li>
			<li style="float:right"><a href=http://vcc.kaust.edu.sa>VCC</a></li>
    		</ul>
		</nav>

		<content>
		{{ content }}
		</content>
			
		<footer>
    		<ul>
        Computational Imaging Group @ KAUST Visual Computing Center
			</ul>
		</footer>
	</body>
</html>
